<div class="image-container">
  <%= link_to game_windows_play_path do %>
    <%= image_tag 'start_game.jpg', class: 'start-image' %>
  <% end %>
  <div class="button-overlay">
    <div class="start-button">DEBUG</div>
  </div>
</div>
